#
# THOR CUSTOM EVENTS
#
# Important: Activate this template by renaming it from .txt.template to .txt 
#
# FORMAT -----------------------------------------------------------------------
#
# Event;Comment
#
# EXAMPLES ---------------------------------------------------------------------
#
# Global\ComConnectEvent;Flame Event https://bit.ly/2KjUTuP
